@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
*{
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}
#header{
    width: 100%;
    position: sticky;
    z-index: 100;
    
    background-color: rgb(255, 233, 233);

}

.links{
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100%;
    column-gap: 20px;
    align-items: center;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
  .botones {
    margin: 10px 15px;
  }

  .logo{
      height: 100%;
      width: 100px;
      margin-left: 10px;
  }

  .logo img{
      width: 70px;
      height: auto;
  }

  #home{
    
      width: 100vw;
  }

  #home h1{
      font-size: 70px;
      background-color: #fff;
      font-family: 'Abyssinica SIL', serif;
  }

  .background{
      width: 100%;
      height: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 37, 37);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    height: 50px;
    flex-wrap: wrap;
  }
  footer a {
    color: #fff;
    font-size: 20px;
}
#fondo {
    background-color: rgb(202, 246, 247);
}
@media screen and (max-width: 769px) {

    header button {
      height: 50px;
    }
    
    .botones {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 30px;
    width: 100%;
}
#informacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#informacion h2 {
  font-size: 35px;
  color: purple;
  font-family: 'Abyssinica SIL', serif;
}
#informacion p {
  font-size: 18px;
  font-family: 'Abyssinica SIL', serif;
}
#informacion img {
  width: auto;
  height: auto;
}
.certificado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}


.card2 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  column-gap: 10px;
}
@media screen and (max-width: 481px) {
  
  .card2 button{
    padding: 4px;
  }
  .card1 h2{
  font-size: 1rem;
  width: 60px;
  }
  .card1 button {
    font-size: 9px;
}   
}
.card2 img {
  width: 60px;
  height: auto;
}