@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
*{
  
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    overflow-x: hidden;
}

#header{
    width: 100%;
    position: sticky;
    z-index: 100;
    padding: 20px;
    background-color: rgb(255, 233, 233);

}

h1 {
    color: blue;
    text-align: center;
}

.links{
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100%;
    column-gap: 20px;
    margin: 0% 10px 10px 10px;
    align-items: center;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  .logo{
      height: 100%;
      width: 100px;
  }

  .logo img{
      width: 70px;
      height: auto;
  }

  #home{
    
      width: 100vw;
  }

  #home h1{
      font-size: 70px;
      font-family: 'Abyssinica SIL', serif;
  }

  .background{
      width: 100%;
      height: 100px;
}

#fondo {
    background-color: rgb(202, 246, 247);
}

.container {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#verificacion {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#cambio {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#piepagina {
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 37, 37);
    color: #fff;
    padding: 10px;
    font-size: 10px;
}
#piepagina a {
    color: #fff;
    font-size: 10px;
}

.form {
    width: 300px;
    background-color: rgb(255, 233, 233);
    border-color: blueviolet;
}

.form_button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h2 {
    border: 5px black solid;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}
